
* {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
}

*::before,
*::after,
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    width: 100%;
    height: 90vh;

    background: url("https://yandex.ru/images/search?text=%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D0%B0%D1%8F+%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0+%D0%B4%D0%BB%D1%8F+%D1%84%D0%BE%D0%BD%D0%B0&img_url=https%3A%2F%2Fres.allmacwallpaper.com%2Fget%2FRetina-MacBook-Pro-15-inch-wallpapers%2FUnderwater-2880x1800%2F2922-8.jpg&pos=15&rpt=simage&stype=image&lr=63&parent-reqid=1660823317236625-17410951260578580716-sas2-0672-sas-l7-balancer-8080-BAL-7924&source=serp") center no-repeat;
    background-size: cover;
}

.intro__content {
    width: 100%;
    max-width: 840px;
    margin: auto;
    font-weight: 400;
    justify-content: center;
}

.intro__title {
    font-size: 68px;
    color: #f7f7f7;
    text-align: center;
    padding-top: 190px;
}

.intro__slogan {
    color: #f7f7f7;
    text-align: center;
    margin: 8px;
}

.intro__description {
    color: #f7f7f7;
    text-align: center;
}

.intro__buttons {
    width: 100%;
    max-width: 530px;
}


/* Button */
.double-border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #e2e2e2;
    color: #dddddd;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
    font-weight: 700;
}

.double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.double-border-button:hover:after {
    border-color: #fcfcfc;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

.intro__button {
    position: relative;
    margin-top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Header */
.header {
    width: 100%;
    padding-top: 20px;

    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #f7f7f7;
    padding-bottom: 20px;
    color: #414143;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header img {
    width: 42px;
    height: auto;
    margin-right: 15px;
}

.header__text {
    font-size: 30px;
    font-weight: 500;
    color: #414143;
}


/* Nav */
.nav {
    font-size: 14px;
}

.nav__link {
    color: #414143;
    text-decoration: none;
    margin-right: 35px;
}

/* Footer */

.footer {
    background-color: #212529;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.footer__logo img {
    width: 16px;
    height: auto;
    margin-right: 5px;
}

.footer a {
    text-decoration: none;
    color: #73c0cc;
}

.footer a:hover {
    color: #80d6e4;
}

.footer a:after {
    color: #aed9e0;
}

.footer__content {
    font-size: 14px;
    display: flex;
    text-align: center;
    color: #f7f7f7;
}
